@charset "utf-8";
@import url(reset.css);

/* 한글은 노토산스로 */
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/NotoSansKr/NotoSansKR-Thin.woff2") format('woff2'),
        url("../fonts/NotoSansKr/NotoSansKR-Thin.woff") format('woff'),
        url("../fonts/NotoSansKr/NotoSansKR-Thin.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/NotoSansKr/NotoSansKR-Light.woff2") format('woff2'),
        url("../fonts/NotoSansKr/NotoSansKR-Light.woff") format('woff'),
        url("../fonts/NotoSansKr/NotoSansKR-Light.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSansKr/NotoSansKR-Regular.woff2") format('woff2'),
        url("../fonts/NotoSansKr/NotoSansKR-Regular.woff") format('woff'),
        url("../fonts/NotoSansKr/NotoSansKR-Regular.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSansKr/NotoSansKR-Medium.woff2") format('woff2'),
        url("../fonts/NotoSansKr/NotoSansKR-Medium.woff") format('woff'),
        url("../fonts/NotoSansKr/NotoSansKR-Medium.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NotoSansKr/NotoSansKR-Bold.woff2") format('woff2'),
        url("../fonts/NotoSansKr/NotoSansKR-Bold.woff") format('woff'),
        url("../fonts/NotoSansKr/NotoSansKR-Bold.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/NotoSansKr/NotoSansKR-Black.woff2") format('woff2'),
        url("../fonts/NotoSansKr/NotoSansKR-Black.woff") format('woff'),
        url("../fonts/NotoSansKr/NotoSansKR-Black.otf") format('opentype');
} 
/* 영문, 숫자는 오픈산스로 */
@font-face {
    font-family: "NotoSansKR";
    unicode-range: U+0020-007E;
    font-style: normal;
    src: url("../fonts/openSans/OpenSans-SemiBold.woff2") format('woff2'),
        url("../fonts/openSans/OpenSans-SemiBold.woff") format('woff'),
        url("../fonts/openSans/OpenSans-SemiBold.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    unicode-range: U+0020-007E;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/OpenSans/OpenSans-Light.woff2") format('woff2'),
        url("../fonts/OpenSans/OpenSans-Light.woff") format('woff'),
        url("../fonts/OpenSans/OpenSans-Light.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    unicode-range: U+0020-007E;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format('woff2'),
        url("../fonts/OpenSans/OpenSans-Regular.woff") format('woff'),
        url("../fonts/OpenSans/OpenSans-Regular.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    unicode-range: U+0020-007E;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format('woff2'),
        url("../fonts/OpenSans/OpenSans-SemiBold.woff") format('woff'),
        url("../fonts/OpenSans/OpenSans-SemiBold.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    unicode-range: U+0020-007E;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format('woff2'),
        url("../fonts/OpenSans/OpenSans-Bold.woff") format('woff'),
        url("../fonts/OpenSans/OpenSans-Bold.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    unicode-range: U+0020-007E;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/NotoSansKr/OpenSans-ExtraBold.woff2") format('woff2'),
        url("../fonts/NotoSansKr/OpenSans-ExtraBold.woff") format('woff'),
        url("../fonts/NotoSansKr/OpenSans-ExtraBold.otf") format('opentype');
} 

*, *::after, *::before {
    box-sizing: border-box;
    word-break: break-all;
}
body {
    font: 14px "NotoSansKR";
    color: #fff;
    font-weight: 500;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    min-width: 320px;
    z-index: -999;
    overflow: hidden;
    -ms-overflow-style: none;
}
::-webkit-scrollbar { 
    display: none; 
}

/* YTPlayer */
#bg_player {
    z-index: -998;
}

#bg_cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -997;
}

/* main_header */
#main_header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}
#main_header > #logo {
    float: left;
    padding-left: 40px;
}
#main_header #daytime_info {
    float: right;
    font-size: 22px;
    padding-right: 20px;
    position: relative;
    right: 50px;
    transition-duration: 1s;
    overflow: hidden;
}
#main_header #daytime_info .daytime {
    float: left;
}
#main_header #daytime_info #time {
    font-size: 32px;
    padding-left: 10px;
}

/* main_content */
#main_content {
    width: 100%;
    height: 630px;
}
#main_content > .inner {
    margin: 140px 50px;
}
#main_content > .inner .city_main {
    font-size: 10em;
    font-weight: 700;
}
#main_content > .inner .city_temp {
    font-size: 7em;
    line-height: 0px;
    font-weight: 700;
}
#main_content > .inner .city_icon {
    font-size: 6em;
    margin-left: 60px;
}
#main_content > .inner #city_info {
    width: 360px;
    overflow: hidden;
    margin-top: 30px;
}
#main_content > .inner #city_info .info {
    width: 33.3%;
    float: left;
    font-size: 2.5em;
    text-align: center;
    border-right: 2px solid #fff;
}
#main_content > .inner #city_info .info:first-child {
    border-left: 2px solid #fff;
}
#main_content > .inner #city_info .info i {
    display: block;
}

/* button */
.arrow_btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    color: #fff;
}
button#arrow_mobile {
    display: none;
}

/* side_city */
#side_city {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(55,55,55,0.5);
    transition-duration: 1s;
    z-index: 998;
    overflow: scroll;
}

#side_city #city_list {
    padding-top: 100px;
    display: none;
}
#side_city a.city_link {
    display: block;
    text-align: center;
    font-size: 2.5em;
    overflow: hidden;
    padding: 20px 50px;
}
#side_city a.city_link:hover {
    font-weight: 500;
    background-color: rgba(0,0,0,0.5);
    transition-duration: 1s;
    transition-timing-function:ease-out;
}
#side_city a.city_link .city {
    float: left;
}
#side_city a.city_link .temp {
    float: right;
}

/* main_footer */
#main_footer {
    margin-left: 50px;
    color: #ddd;
    font-style: italic;
    height: 50px;
    line-height: 50px;
}

/* 반응형 */
@media screen and (max-width: 767px) {
    /* main_header */
    #main_header {
        height: 160px;
        line-height: 40px;
        overflow: visible;
    }
    #main_header > #logo {
        float: none;
        margin-top: 20px;
        padding-left: 30px;
    }
    #main_header #daytime_info {
        float: none;
        font-size: 1.8em;
        padding-right: 0px;
        left: 0;
        right: 0;
        padding-left: 30px;
        margin-top: 30px;
        overflow: visible;
    }
    #main_header #daytime_info .daytime {
        float: none;
    }
    #main_header #daytime_info #time {
        font-size: 1.3em;
        padding-left: 0px;
    }
    /* main_content */
    #main_content {
        height: 350px;
    }
    #main_content .inner {
        margin: 50px 30px;
    }
    #main_content > .inner .city_main {
        font-size: 5.5em;
    }
    #main_content > .inner .city_temp {
        font-size: 4em;

    }
    #main_content > .inner .city_icon {
        font-size: 4em;
        margin-left: 20px;
    }
    #main_content > .inner #city_info {
        width: 210px;
    }
    #main_content > .inner #city_info .info {
        font-size: 1.3em;
    }

    /* button */
    .arrow_btn {
        width: 75px;
        height: 75px;
        font-size: 40px;
    }
    button#arrow {
        display: none;
    }
    button#arrow_mobile {
        display: block;
    }
    
    /* side_city */
    #side_city {
        width: 100vw;
        height: 100vh;
        background-color: rgba(58, 58, 58,1);
        display: none;
    }
    #side_city a.city_link {
        padding: 3% 50px;
    }
    /* main_footer */
    #main_footer {
    margin: 0 30px;
    height: 20px;
    line-height: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* main_content */
    #main_content {
        height: 480px;
    }
    #main_content .inner {
        margin: 100px 50px;
    }
    /* side_city */
    #side_city a.city_link {
        padding: 3% 50px;
    }
}

@media screen and (min-width: 1024px) {

}